// Colores
$light-purple: #3A015C;
$medium-light-purple: #32004F;
$medium-purple: #220135;
$dark-purple: #190028;
$darkest-purple: #11001C;
$white-color: #FFFFFF;
$black-color: #000000;
$gray-color:rgba(242, 243, 244, 0.584);

// Fuentes
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
